
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f5f6f8;
    margin: 0;
    padding: 40px;
}

.dashboard-header{
    margin-bottom: 40px;
}

.dashboard-container{
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 48px;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.08);

}

.dashboard-title{
    font-size: 38px;
    margin: 0;
}

.dashboard-subtitle{
    color: #666;
    margin-bottom: 32px;
}

.dashboard-actions{
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}
.dashboard-content{
    margin-top: 20px;
}
.dashboard-btn{
    text-decoration: none;
    padding: 10px 18px;
    background:black;
    color: white;
    border-radius: 6px;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    text-align: left;
    padding: 14px;
    font-size: 15px;
    border-bottom: 2px solid #e5e7eb;
}

td{
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
}

.delete-btn{
    background: #e53935;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn{
    background: #e53935;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover{
    background: #c62828;
}
.filter-bar{
    display:flex;
    gap: 12px;
    margin-top:20px ;
    align-items: center;

}
.filter-bar select,
.filter-bar button{
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.filter-bar button{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.filter-bar button:hover{
    opacity: 0.85;
}